<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ecommerce</title>
    </head>
  <style>
   .welcome-section {
  background-color: white;
  color: black;
  padding: 40px 30px;
  max-width: 700px;
  margin: 40px 0 40px 30px; /* Top, Right, Bottom, Left */
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.welcome-section h1 {
  font-size: 40px;
  margin: 10px 0;
}

.welcome-section h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.welcome-section p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
  text-align: justify;
}
</style>
  <body>
    <%- include('partials/navbar') %>
  <div class="welcome-section">
	<h1>Ecommerce</h1>
	<p>Consumers are moving to Omni-channel retail. Whether in-store, on a smartphone, using chat from their
	desktop, or on the phone, customers expect nothing less than seamless and easy service experiences regardless
	of the channel they use. On call Contact Center’s best practice for online retail and services optimize customer 
	service and sales across channels to improve customer satisfaction, build loyalty, grow revenues, and reduce operational costs. 
	In On call Contact Center, we are able to implement outsourced services programs that help e-commerce clients get
	closer to their customers while reinforcing customer loyalty. Our services include customer service, 
	order processing and order taking, help desk, email, and chat.<br>
	On call Contact Center has been working with global brands supporting their e-commerce platforms providing customer experience 
	management for the past 3 years from multiple delivery sites in Egypt and Poland handling hundreds of thousands of transactions 
	per month through Voice, Email, and Chat channels. Currently, On call Contact Center covers
	many e-Commerce client operations in UAE n in over 8 languages.</p>
	</div>
	 <%- include('partials/footer') %>
  </body>
</html>