<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ecommerce</title>
    </head>
  <style>
   .welcome-section {
  background-color: white;
  color: black;
  padding: 40px 30px;
  max-width: 700px;
  margin: 40px 0 40px 30px; /* Top, Right, Bottom, Left */
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.welcome-section h1 {
  font-size: 40px;
  margin: 10px 0;
}

.welcome-section h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.welcome-section p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
  text-align: justify;
}
</style>
  <body>
    <%- include('partials/navbar') %>
  <div class="welcome-section">
	<h1>Government & Public Services</h1>
	<p>Government organizations are always on the lookout to decrease costs in
	their overall business structure and services while maintaining their efficiency and 
	provide the public with the required services in a smooth efficient manner. 
	On call Contact Center offers multiple government organizations and affiliated agencies
	the ability to communicate their services and to increase their end-user satisfaction while maintaining cost efficiency and quality.<br>
	On call Contact Center has several programs established in conjunction with state-owned 
	agencies that have outsourced critical processes, to serve residents through live agent support 
	as well as automated IVR services. At On call Contact Center, we are confident of our experience
	and flexibility to handle a variety of communications when it comes to state-provided utilities, 
	educational services, business support services, private sector support processes based on experience and know-how.<br>
	By offering a comprehensive solution to government agencies comprised of people, established processes, 
	and cutting edge technology, we ensure great customer service and execution of resident requirements and needs.
	In this domain, we offer multiple services such as inquiries, updating the public with law changes, applications 
	required for multiple processes and campaign support, pension services, educational contact centers for public university applications among many more services.
</p>
	</div>
	 <%- include('partials/footer') %>
  </body>
</html>