<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Medical</title>
    </head>
  <style>
   .welcome-section {
  background-color: white;
  color: black;
  padding: 40px 30px;
  max-width: 700px;
  margin: 40px 0 40px 30px; /* Top, Right, Bottom, Left */
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.welcome-section h1 {
  font-size: 40px;
  margin: 10px 0;
}

.welcome-section h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.welcome-section p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
  text-align: justify;
}
</style>
  <body>
    <%- include('partials/navbar') %>
  <div class="welcome-section">
	<h1>Medical Services</h1>
	<p>Healthcare is a very dynamic and varied industry, and end consumers and patients have become
	more involved in the processes and decisions and are greatly impacted by the customer experience
	they come across from the different service providers.<br>
	Over the past 3 years, On call Contact Center has been continuously developing its 
	best practice for addressing its health care client needs through a continuous development 
	and optimization process that led to numerous success stories and testimonials from different 
	client organizations across the region.<br>
	Healthcare companies and organizations require a great number of professional personnel to help them
	update their clients and help them and act on behalf of them in connecting them to their preferred offices and clinics. 
	This has created the need for contact centers to provide an intricate set to best serve your patients using the most 
	trained and skilled employees, alongside medical professionals. On call Contact Center services range from promoting 
	health awareness campaigns, connecting patients to hospitals, clinics & labs for in-hospital / center appointment 
	setting or house calls, following up from tests and lab results to appointment setting for labs, doctor offices, 
	clinics, and radiology centers. Our centers are exclusively staffed by medical background advisors.
	Our highly trained staff responds to inquiries from health care professionals, patients, and regular consumers,
	in compliance with the individual agreed-upon program guidelines, and capture and transfer adverse events and 
	product complaints in a validated database. Furthermore, On call Contact Center engages with many pharmaceutical 
	companies to promote regular use of certain drugs, offer awareness to target pharmacies, manage the order platform 
	for pharmacies and pharmaceutical distributors via phone, email & web platforms, and conduct telephone research among many other services.
</p>
	</div>
	 <%- include('partials/footer') %>
  </body>
</html>