<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Why us</title>
    </head>
  <style>
   .welcome-section {
  background-color: white;
  color: black;
  padding: 40px 30px;
  max-width: 700px;
  margin: 40px 0 40px 30px; 
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  text-align: left;
}
.welcome-section h1 {
  font-size: 40px;
  margin: 10px 0;
}

.welcome-section h2 {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0;
}

.welcome-section p {
  font-size: 16px;
  line-height: 1.7;
  margin-top: 20px;
  text-align: justify;
}
</style>
  <body>
    <%- include('partials/navbar') %>
  <div class="welcome-section">
	<h1>Who We Are</h1>
	<p>On call Contact center is Business Process Outsourcing Service Provider offering customer experience management,
	back office services, inside sales channel management, professional services and digital services.
	On call Contact Center provides top-notch outsourcing and call center services by focusing on high growth industries;
	mainly Technology & Consumer Electronics, Media & Communication, Fast Food, Insurance, Automotive, White Goods, Retail, Health care, 
	Travel & Hospitality, E-commerce, Government & Public Service, Real Estate...among others.
	On call is not just a team of agents answering all your inbound calls.<br>
	It's a human-first customer management tool to manage your business more effectively social media integration,what’s app
	,Email support and virtual agent option. An all-in-one cloud based full business solution that combines human intervention
	with business analytics. With On call, you no longer have to invest thousands on long-term call center contracts or in-house reception hires.<br>
	Our services are tailored to suit any business regardless of its scale or size, whether it’s small or medium sized enterprises,
	emerging startups or even executives that need personal assistants. We help businesses meet their goals of increasing
	sales or delivering an exceptional customer experience. What’s more?
Our services are available at 60% lesser cost than any other call center solution.
</p>
</div>
	 <%- include('partials/footer') %>
  </body>
</html>