body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    padding: 30px;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #4b0082;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th, table td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: center;
    }

thead {
    background-color: #4b0082;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
